body, html {
    height: 100%;
    background-color: #fbedf9;
  }

#animeHeader {
    font-size: 100px;
    font-weight: bold;
}

#columns{
 margin-top: 10px;
 margin-left: 10px
}

#main {
    justify-content: center;
    filter: drop-shadow(10px 10px 10px #550178);
}

 .text-margin {
     margin-left: 25px;
 }

 .text {
 height:120px;
 width:300px;
 border:1px solid #ccc;
 font:16px/26px Georgia, Garamond, Serif;
 overflow:auto;
 }