#columns{
 margin-top: 10px;
}


.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
 .text-margin {
     margin-left: 25px;
 }

 /* youtube api css */

 #videos {
    height:337.5px;
    width:600px; 
}

iframe{
    margin:15px;
    height:337.5px;
    width:600px;  
}
#imgNone {
    display: none;
}

 /* youtube api css */